# The channel ID of the channel that the bot will operate in.
# This bot is designed to work in 1 main channel.
channel_id: ""

# Settings for different plugins
plugins:
  # # Send a message to the channel when the bot is launched.
  # launch_message:
  #   enabled: true
  #   message: "The bot is launched."

  # # Send message at specific times.
  # cron_message:
  #   enabled: true
  #   crons:
  #     # All of the properties month, date, day, hour, minute are optional.
  #     # Message is required.
  #     - month: 1  # Month. 1-12
  #       date: 1   # Date. 1-31
  #       day: 0    # Day. 0-6. 0 stands for Sunday, 1 stands for Monday, etc.
  #       hour: 8   # Hour. 0-23
  #       minute: 0 # Minute. 0-59
  #       # Message to send to the channel.
  #       # Variables like {{hour}}, {{minute}} can be used.
  #       # Format like {{sprintf "%02d" hour}} is also possible.
  #       message: "Good morning. It is the beginning of a new day."
  #     - hour: 23
  #       minute: 0
  #       message: "Good night!"
  
  # # This is a plugin that provides a command to list all plugins, and show
  # # whether they are enabled or not.
  # plugins_list:
  #   enabled: false
  #   override:
  #     # You can change the keyword that triggers the command.
  #     command: "plugins list"

  # # This is a plugin for debug purposes and serves no function.
  # null_plugin:
  #   enabled: false
  